[submodule "cinespoilerss"]
	path = cinespoilerss
	url = https://github.com/yojhanHuanca/cinespoilerss.git
[submodule "PetcareReact"]
	path = PetcareReact
	url = https://github.com/Ingaxgaramendi/PetcareReact.git
[submodule "React_Cinespoilers"]
	path = React_Cinespoilers
	url = https://github.com/Gonnarch/React_Cinespoilers
